header {
    border: 1mm;
    background-color: lavender;
}

footer {
    border: 1mm;
    background-color: rgb(178, 188, 198);
}

main {
    background-color: whitesmoke;
}

body {
    font: 1em Arial;
}

h1 {
    color: rgb(93, 7, 101);
}

h2 {
    color: blue;
}

h3 {
    color: darkcyan;
}

h4 {
    color: darkslategrey;
}

ul {
    list-style: none;
}

.mouseover:hover {
    color: aqua;
    background-color: black;
}